@import 'variables.scss';
@import 'header.scss';
@import 'section.scss';

*, *::before, *::after{    
    font-family: "Poppins","san-serif";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none
}

body{
    background-color: red;
}



section{
    @include flex();
    flex-wrap: wrap;
    padding: 6vh;
    margin-top: 4vh;
}

#logo{
    @include position(relative,$top:3vh);
    display: block;
    margin: auto;
    height: 70%;
    width: 60%;
}

#video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -10;
    visibility: visible;
    }






