/* IMPORTE DE LAS TIPOGRAFÍAS */
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("/fonts/Poppins-Regular.ttf");
    
}

@font-face {
    font-family: 'BlowBrush', sans-serif;
    src: url("/fonts/blowbrush.ttf");
    
}
/* MIXIN (función) para display flex. */
@mixin flex {
    display: flex;
    justify-content: space-between;
}


/*MIXIN (función) para la posición de un elemento. */
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}